{% extends "base.html" %}

{% block body %}

<!--Hero-->
<div class="px-4 py-5 my-5 text-center">
    <img src="{{ data.logo }}" alt="Bitcoin Logo" width="200">
    <h1 class="display-5 fw-bold">Bitcoin Price Alert</h1>
    <div class="col-lg-6 mx-auto">
      <h2 class="mb-4">
          BTC Price: ${{ "{:,.2f}".format(data.current_price) }}
      </h2>
      <h2 class="mb-4">
          24h Change:
          <span style="color: {{ 'green' if data.price_change_24h > 0 else 'red' }}">
            {{ (data.price_change_24h * 100) | round(2) }}%
            {{ "↑" if data.price_change_24h > 0 else "↓" }}
          </span>
      </h2>

      <div class="form-signin p-3 text-white rounded-3">
          <form method="POST" action="{{ url_for('success') }}" novalidate>
              {{ form.csrf_token }}
            <p class="lead mb-3 fw-normal">
                Send me a Telegram alert as soon as BTC goes
            </p>
            <div class="d-flex align-items-center justify-content-center gap-2 mb-3">
                  <select class="form-select w-auto" aria-label="Price direction">
                    <option value="1">Above 🢁</option>
                    <option value="2">Below 🡻</option>
                  </select>
                  <span class="lead fw-normal">the price of $</span>
                  <input type="number" class="form-control w-auto" placeholder="0.00" style="max-width: 200px;">
            </div>
            <button class="btn btn-lg btn-warning" type="submit">Set Alert</button>
          </form>
         </div>


    </div>
  </div>




{% endblock %}