{% include "header.html" %}

<div class="album py-5 mt-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for nft in all_nfts %}
            <div class="col">
                  <div class="card shadow-sm">
                       <img src="{{ nft['url'] }}" alt="NFT image"  >

                    <div class="card-body text-center">
                        <p class="card-text">
                              <strong>{{ nft['name'] }}</strong><br>
                              {{ nft['symbol'] }} <br>
                              SOL: {{ price }} SOL <br>
                              USD: ${{ sol_to_usd }}
                        </p>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                               <a href="{{ url_for('checkout', index=nft.id) }}" class="btn btn-outline-primary" role="button" >Buy</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "footer.html" %}