{% include "header.html" %}

<div class="container mt-5 py-5 w-50">
    <main>
        <form action="/login" method="post">
          <div class="mb-3 row text-white">
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email address" name="username">
            </div>
          </div>

          <div class="mb-3 row text-white">
              <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
              </div>
          </div>

        </form>

    </main>
</div>


{% include "footer.html" %}