{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">My middle name be "Adventure", yarrr!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Pieces of Eight broadside Sail ho hang the jib Davy Jones' Locker poop deck reef pink Spanish Main maroon.
          Cable chantey heave to American Main chase boom mutiny rigging barkadeer long boat.
          Draft broadside marooned mizzen yardarm spanker Jolly Roger jack Brethren of the Coast shrouds.
        </p>
        <p>
          Me mizzenmast jack lookout chase gun schooner lateen sail tender squiffy.
          Brig deadlights pinnace mutiny belay topmast list broadside rutters fluke.
          Gold Road gaff Davy Jones' Locker jury mast brigantine aye execution dock
          starboard bring a spring upon her cable bucko.
        </p>
        <p>
          Bilge rigging landlubber or just lubber Admiral of the Black booty pink
          swing the lead red ensign parley barkadeer. Maroon spike topsail rope's end keel boatswain
          quarterdeck gangplank port jolly boat. Jolly boat pillage red ensign hearties Letter of
          Marque run a rig maroon wherry hail-shot gangplank.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
