body {
background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr {
    border-style: none;   
    border-top-style: dotted;
    border-color: rgb(252, 250, 250);
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #22577E;
}

h3 {
    color: #22577E;
}

