{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block body %}

<div class="container w-50 pt-5">
    <div class="row text-white text-center">
        <h3>Log In</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p  class="{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}


        <form method="post">
            {{ form.csrf_token() }}
            <div class="col-auto">
                {{ render_field(form.email, form_type="horizontal", horizontal_columns=('lg', 2, 8)) }}
            </div>
            <div class="col">
                {{ render_field(form.password, form_type="horizontal", horizontal_columns=('lg', 2, 8)) }}
            </div>
            <div class="col-4 mx-auto mb-5">
                {{ render_field(form.submit) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}

