<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mik's Color Generator</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

  </head>
  <body>
   <div class="w3-container w3-center w3-row" style="width:75%">
    <h1>Image Colour Palette Generator</h1>

      
   </div>
  </body>
</html>