<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mik's Color Generator</title>

<!--      Google font-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet" />

  </head>

  <body>
    <div class="w3-container w3-center w3-row" style="width:100%">
        <h1>Image Colour Palette Generator</h1>
           <div class="w3-cell-row" style="width:75%">
               <div class="w3-container w3-cell">
                <img src="{{ url_for('static', filename='assets/images/oranges.jpg') }}" alt="oranges" class="w3-border w3-padding" style="width:50%">
               </div>
    
               <div class="w3-container w3-cell">
                   <h2>Colors</h2>
                   <table class="w3-table">
                    <tr>
                      <th>Color</th>
                      <th>Color Code</th>
                      <th>Percentage</th>
                    </tr>
                    <tr>
                      <td>#f0a800</td>
                      <td>#f0a800</td>
                      <td>#f0a800</td>
                    </tr>
                    <tr>
                      <td>#f0a800</td>
                      <td>#f0a800</td>
                      <td>#f0a800</td>
                    </tr>
                    <tr>
                      <td>#f0a800</td>
                      <td>#f0a800</td>
                      <td>#f0a800</td>
                    </tr>
                  </table>
               </div>
           </div>
    


    <form action="" method="POST" enctype="multipart/form-data">
        <h2 class="w3-text-blue">File to Upload: </h2>
         <div class="s4 w3-center">
             <input type="file" id="File" name="filename" class="w3-button w3-round-xlarge w3-blue w3-hover-pale-yellow w3-large">
         </div>
       <div class="s4 w3-center">
           <p class="w3-row">
            <label class="w3-col s7 w3-center w3-text"><b>Number of colors:</b></label>
            <input class="w3-col s6 w3-center w3-input w3-border w3-round-large" name="colors" type="text" style="width:40%">
           </p>
       </div>
       <div class="s4 w3-center">
           <p>
               <label class="w3-col s7 w3-center w3-text"><b>Delta:</b></label>
               <input class="w3-col s6 w3-center w3-input w3-border w3-round-large" name="delta" type="text" style="width:40%">
           </p>
       </div>

<!--          RADIO-->

    <div class="w3-row">
        <div class="w3-col s8 w3-center"><p><b>Reduce Brightness:</b></p></div>
        <div class="w3-col s2 w3-center">
            <p>
            <input class="w3-radio" type="radio" name="brightness1" value="yes" >
            <label>Yes</label>
            </p>
        </div>
        <div class="w3-col s2 w3-center">
            <p>
                <input class="w3-radio" type="radio" name="brightness2" value="no" >
                <label>No</label>
            </p>
        </div>
    </div>

     <div class="w3-row">
        <div class="w3-col s8 w3-center">
            <p><b>Reduce Gradient:</b></p>
        </div>
         <div class="w3-col s2 w3-center">
            <p>
                <input class="w3-radio" type="radio" name="gradient1" value="yes">
                <label>Yes</label>
            </p>
         </div>
         <div class="w3-col s2 w3-center">
            <p>
                <input class="w3-radio" type="radio" name="gradient1" value="yes">
                <label>No</label>
            </p>
         </div>
        </div>

       <div class="s4 w3-center w3-padding-16">
           <input type="submit" class="w3-button w3-round-xlarge w3-blue w3-hover-pale-yellow w3-large" value="Get image">
       </div>

  </form>

   </div>
  </body>
</html>