
body {
    color: #40514E;
    margin: 0;
    text-align: center;  
    font-family: "Merriweather", serif;
}


h1 {
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size:  5.625rem;
    color:  #22577E;

}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size:  2.5rem;
    font-weight: normal;
    color:  #22577E;
    padding-bottom: 10px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.intro {
    margin-top: 0px;
    margin-bottom: 0px;
}

.top-container {
    background-color: #95D1CC;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}
.bottom-container {
    background-color: #95D1CC;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    top: 40px;
    right: 250px;
    width: 15%;
}
.bottom-cloud {
    position: absolute;
    bottom: 250px;
    left: 250px;
    width: 15%;
}

.mountains {
    position: relative;
    bottom: 5px;
}

.profilepic {
    width: 15%;
    border-radius: 50%;
}

.developer {
    width: 25%;
    float: left; 
    margin-right: 30px;
}

.design {
    width: 25%;
    float: right; 
    margin-left: 30px;
}

.skills {
    background-color: #3d6587;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.skills-division, .python-description, .design-description, .skills-hdr {
    color: white;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.profile {
    padding-bottom: 5rem;
}

.profile-para {
    color: #40514E;
    width: 30%;
    margin: auto;
}


.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  
.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #11999E;
    font-size: 0.75rem;
    padding: 20px 0;   
}