{% include "header.html" %}


<!-- Page Header-->
<header>
  <div class="px-4 py-5 my-5 text-center">
    <img src="{{ url_for('static', filename='assets/img/coffeeandwifi.gif') }}" alt="coffee and wifi" style="border-radius: 50px;">
    <h1 class="display-5 fw-bold text-body-emphasis">Coffee and Wifi</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Find the top cafes, restaurants, libraries,
        and hotel lobbies that are perfect for work and study.
        Discover places with free and reliable Wi-Fi, plenty of power outlets,
        and cozy seating.
        </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary px-4 gap-3" href="{{ url_for('get_all_cafes') }}" role="button">All Cafes</a>
        <a class="btn btn-primary px-4 py-1 gap-3" href="{{ url_for('post_new_cafe') }}" role="button">Add Cafe</a>
      </div>
    </div>
  </div>
</header>

  