<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PDF to Audio</title>


<!--    Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
  </head>
  <body>

    <div class="w3-container w3-center">
      <h1>Convert PDF to Audio</h1>
  
      <div class="w3-row w3-container">
        <div class="w3-col s4 w3-center">
          <h2>1</h2>
        </div>
        <div class="w3-col s4 w3-center">
          <h2>2</h2>
        </div>
        <div class="w3-col s4 w3-center">
          <h2>3</h2>
        </div>
      </div>
  

      <div class="w3-row w3-container">
        <form action="{{ url_for('home') }}" method="POST" enctype="multipart/form-data">
            <div class="w3-col s4 w3-center">
                <input type="file" id="File" name="filename" class="w3-button w3-round-xlarge w3-blue w3-hover-pale-yellow w3-large">
            </div>
            <div class="w3-col s4 w3-center">
                <input type="submit" class="w3-button w3-round-xlarge w3-blue w3-hover-pale-yellow w3-large" value="Get PDF">
            </div>
        </form>
        <div class="w3-col s4 w3-center">
            {% if text_to_convert %}
            <form id="convert-form"  action="{{ url_for('convert_and_save_audio') }}" method="GET">
                <input type="submit"  class="w3-button w3-round-xlarge w3-blue w3-hover-pale-yellow w3-xlarge" value="Convert Now">
            </form>
            {% else %}
            <a href="#" class="w3-button w3-disabled w3-round-xlarge w3-blue w3-hover-pale-yellow w3-xlarge">Convert Now</a>
            {% endif %}
        </div>
      </div>
    </div>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="w3-ul w3-center">
      {% for message in messages %}
      <li class="w3-padding-16">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    
    <div class="w3-row w3-container w3-center w3-padding-48">
      <h2>Play Audio</h2>
      <audio controls>
        {% if audio_file_path %}
        <source src="{{ url_for('get_audio', filename=audio_file_path) }}" type="audio/mpeg">
        {% else %}
        <source src="" type="audio/mpeg">
        {% endif %}
        Your browser does not support the audio element.
      </audio>
    </div>

  </body>
</html>