<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PDF to Audio</title>


<!--    Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
  </head>
  <body>

  <div class="w3-container w3-center">
    <h1>Convert PDF to Audio</h1>


    <div class="w3-row w3-container">
      <form action="{{ url_for('get_file') }}" method="POST" enctype="multipart/form-data">
        <div class="w3-col s4 w3-center">
          <input type="file" id="File" name="filename" class="w3-button w3-round-xlarge w3-blue w3-hover-pale-yellow w3-large">
        </div>
        <div class="w3-col s4 w3-center">
          <input type="submit" class="w3-button w3-round-xlarge w3-blue w3-hover-pale-yellow w3-large" value="Upload File">
          </div>
      </form>
      <div class="w3-col s4 w3-center">
        <a href="#" class="w3-button w3-round-xlarge w3-blue w3-hover-purple w3-xlarge">Convert Now</a>
      </div>
    </div>
  </div>

  </body>
</html>